.row.order-box-row
  .span4
    .thumbnail
      .caption
        =image_tag("#{@order.box_type}-box.png")
  .span6
    %h4 Product
    -if @order.number_of_months == 1 && !@order.gift?
      %p="#{@order.box_name} subscription."
      %p You will receive one box per month until you cancel your subscription.
    -else
      %p="#{@order.box_name} for #{pluralize(@order.number_of_months,'month')}."
      %p
        =@order.gift? ? "Your friend" : "You"
        will receive one a box per month for the next
        =@order.number_of_months
        months.
    %h4 Delivery address
    %address=simple_format(@order.delivery_address("\n"))
    %h4 Cost
    -if !@order.discount_in_pence.zero?
      .row
        .span3
          %table.table.table-condensed
            %tr
              %td Full price
              %td.right="£%.2f" % (@order.amount + @order.discount)
            %tr
              %td Discount
              %td.right="-£%.2f" % @order.discount
            %tr
              %th Total
              %th.right="£#{@order.amount}"
    
    -else
      ="£#{@order.amount}"
    -if @order.recurring?
      per month