.row.order-box-row
  .span4
    .thumbnail
      .caption
        =image_tag("#{@order.box_type}-box.png")
  .span6
    %h4 Product
    -if @order.repeatable?
      %p
        =@order.box_name
        subscription.
      %p
        You will receive one box
        =@order.frequency
        until you cancel your subscription.
    -else
      %p=@order.box_name
      -if @order.number_of_deliveries_paid_for_each_billing > 1
        %p
          =@order.gift? ? "Your friend" : "You"
          will receive one box
          ="#{@order.frequency}."
          =@order.number_of_deliveries_paid_for_each_billing
          boxes will be delivered.
    -if @order.status == 'active' && @order.gift?
      =link_to(download_order_path(@order), :class => 'btn mb-1') do
        %i.icon-download-alt.mr-1
        Download gift certificate
    %h4 Delivery address
    %address=simple_format(@order.delivery_address("\n"))
    %p
      =@order.gift? ? "The" : "Your"
      first box
      -if @order.first_shipping_date.future?
        will be
      -else
        was
      shipped on
      =@order.first_shipping_date.stamp("<u>January 11th 2013</u>.").html_safe
    %h4
      Cost
      -if @order.recurring? && @order.discounted?
        of the first payment
    -if @order.discounted?
      .row
        .span3
          %table.table.table-condensed
            %tr
              %td Full price
              %td.right="£#{@order.full_price_amount}"
            %tr
              %td Discount
              %td.right="-£%.2f" % (@order.full_price_amount - @order.amount)
            %tr
              %th Total
              %th.right="£#{@order.amount}"
      -if @order.recurring?
        ="Then £#{@order.cost} for each #{pluralize(@order.number_of_deliveries_paid_for_each_billing, 'box').gsub('1', '')} after that."
    -elsif @order.recurring?
      ="£#{@order.cost} per month."
    -else
      ="£#{@order.amount}"
