<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Products for <%= Date::MONTHNAMES[@month]%> <%= @year%></Data></Cell>
        <Cell><Data ss:Type="String">Responses</Data></Cell>
        <Cell><Data ss:Type="String">Average rating</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.answers.count%></Data></Cell>
				<% if !product.average_rating.nil?%>
          <Cell><Data ss:Type="Number"><%= number_with_precision(product.average_rating, :precision => 1)%></Data></Cell>
				<% else %>
				  <Cell><Data ss:Type="String"></Data></Cell>
				<% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>