-content_for :head do
  :javascript
    $(document).ready(function() {
      $('#box_step .box-radio').click(function(){
        $(this).children('input').attr('checked','checked');
        $('#box_step label.active').removeClass('active');
        $(this).parent().addClass('active');
        $('form.order').submit();
      })
    });
=form.input :gift, :as => :hidden
.row
  .span10
    %p
      Signing up for your Nutribox is easy! Just decide whether you want a Mini-box - great as a gift or if you want to try out our snacks - or a full size Nutribox.
    -unless @order.gift?
      %p.mt-2
        You can sign up on a monthly plan or pay upfront for a 3 or 6 month subscription, and save up to 16%.  With any of these options you can cancel simply by emailing us if you feel The Nutribox isn’t the healthy snacking option for you.
    -if @order.discount_code && @order.discount_code.available_to?(current_user)
      .row
        .span10
          .alert.alert-success#discount-applied
            -if @order.discount_code == DiscountCode.default
              =snippet_text(:default_discount_message, "Save 25% off your first box!")
              =edit_snippet_link(:default_discount_message)
            -else
              Showing prices with a 
              ="#{@order.discount_code.percentage_with_default}%"
              discount on the first box

-["standard", "mini"].each do |box_type|
  .row
    .span10
      %h3.box-title
        =box_name(box_type)
        %small="#{Order.number_of_snacks(box_type)} snacks"
      -Order::COST_MATRIX[box_type.to_sym].each do |months, cost|
        .span4.choose-box.choose-box-small
          .thumbnail
            .caption
              .box-illustration
                =image_tag("box-#{box_type}-#{months}.png", :class => "box-photo")
              %h4
                -if months == 1 && !@order.gift?
                  Monthly
                -else
                  =months
                  month
                -unless @order.gift?
                  subscription
              %label.box-radio
                =form.radio_button('box_type_and_number_of_months',"#{box_type}-#{months}")
                .btn.choose-btn Select
              %h5.choose-price
                -if @order.discount_code && @order.discount_code.available_to?(current_user)
                  .line-through="£#{Order.cost_per_month(box_type, months)}&nbsp;/&nbsp;month".html_safe
                ="£#{@order.cost_per_month(box_type, months)} / month"
              %p.free-delivery Free delivery
              -unless @order.gift?
                .choose-smallprint
                  -if months == 1
                    %p Billed monthly. Cancel anytime.
                  -else
                    %p Pay upfront. Renews automatically.
        
-#
  .thumbnails.choose-boxes
    -["mini","standard"].each do |box_type|
      %li.span5.choose-box
        .thumbnail
          .caption
            %h4
              =box_name(box_type)
              %small="#{Order.number_of_snacks(box_type)} snacks"
            =image_tag("#{box_type}-box.png", :class => "box-photo")
            %ul.unstyled.box-options
              -Order::COST_MATRIX[:mini].keys.each do |num|
                %li
                  .pull-left
                    %h4
                      -if num == 1 && !@order.gift?
                        Monthly
                      -else
                        =pluralize(num,'month')
                      %br
                      %small
                        -if @order.discount_code && @order.discount_code.available_to?(current_user)
                          %span.line-through="£#{Order.cost(box_type,num)}&nbsp;".html_safe
                        ="£#{@order.cost(box_type,num)}"
                        -if num > 1 && !(@order.discount_code && @order.discount_code.available_to?(current_user))
                          %span.saving
                            \- save
                            %span.percentage="#{Order.saving_percentage(box_type,num)}%"
                  .pull-right
                    %label.box-radio
                      =form.radio_button('box_type_and_number_of_months',"#{box_type}-#{num}")
                      .btn
                        -if num == 1  && !@order.gift?
                          Subscribe
                        -else
                          Buy
            .clearfix

-unless @order.gift?
  .row
    .span10
      .thumbnail#discount-bar
        .caption
          .discount-bar-left
            %h2.mb-0 Discount code?
          .discount-bar-center
            .control-group
              %label=discount_code_label(@order)
              .control-group{:class => discount_code_class(@order)}
                -if @order.discount_code == DiscountCode.default
                  =form.text_field :discount_code_code, :class => "span2", :value => nil
                -else
                  =form.text_field :discount_code_code, :class => "span2"
          .discount-bar-right
            =form.submit('Apply', :name => 'discount_code', :class => "btn pull-right")
          .clearfix
