-content_for :head do
  :javascript
    $(document).ready(function() {
      $('#box_step input[type="radio"]:checked').parent().addClass('active')
      $('#box_step input[type="radio"]').click(function(){
        $('#box_step label.active').removeClass('active');
        $(this).parent().addClass('active');
        $('form.order').submit();
      })
    });
=form.input :gift, :as => :hidden
-if @order.gift?
  %h2.mb-2 Which box would you like to give?
-else
  %h2 Choose your box
.thumbnails.choose-boxes
  -["taster","multi"].each do |box_type|
    %li.span5.choose-box
      .thumbnail
        .caption
          %h4
            ="#{box_type.capitalize} Box"
            %small="#{Order.number_of_snacks(box_type)} snacks"
          =image_tag("#{box_type}-box.png", :class => "box-photo")
          %ul.unstyled.box-options
            -[1,3,6,12].each do |num|
              %li
                .pull-left
                  %h4
                    =pluralize(num,'month')
                    %br
                    %small
                      ="£#{Order.cost(box_type,num)}"
                      -if num > 1
                        %span.saving
                          \- save
                          %span.percentage="#{Order.saving_percentage(box_type,num)}%"
                .pull-right
                  %label
                    =form.radio_button('box_type_and_number_of_months',"#{box_type}-#{num}",)
                    .btn Subscribe
          .clearfix