-content_for :head do
  :javascript
    $(document).ready(function() {
      $('#box_step input[type="radio"]').click(function(){
        $('#box_step label.active').removeClass('active');
        $(this).parent().addClass('active');
        $('form.order').submit();
      })
    });
=form.input :gift, :as => :hidden
-if @order.gift?
  %h2.gift-first-title.mb-2 Which box would you like to give?
-else
  %h2 Choose your box
-if @order.discount_code && @order.discount_code.available_to?(current_user)
  .row
    .span10
      .alert.alert-success#discount-applied
        Showing prices with a 
        ="#{@order.discount_code.percentage}%"
        discount on the first box
.thumbnails.choose-boxes
  -["mini","standard"].each do |box_type|
    %li.span5.choose-box
      .thumbnail
        .caption
          %h4
            =box_name(box_type)
            %small="#{Order.number_of_snacks(box_type)} snacks"
          =image_tag("#{box_type}-box.png", :class => "box-photo")
          %ul.unstyled.box-options
            -[1,3,6,12].each do |num|
              %li
                .pull-left
                  %h4
                    -if num == 1 && !@order.gift?
                      Monthly
                    -else
                      =pluralize(num,'month')
                    %br
                    %small
                      -if @order.discount_code && @order.discount_code.available_to?(current_user)
                        %span.line-through="£#{Order.cost(box_type,num)}&nbsp;".html_safe
                      ="£#{@order.cost(box_type,num)}"
                      -if num > 1 && !(@order.discount_code && @order.discount_code.available_to?(current_user))
                        %span.saving
                          \- save
                          %span.percentage="#{Order.saving_percentage(box_type,num)}%"
                .pull-right
                  %label
                    =form.radio_button('box_type_and_number_of_months',"#{box_type}-#{num}",)
                    .btn
                      -if num == 1  && !@order.gift?
                        Subscribe
                      -else
                        Buy
          .clearfix

.row
  .span10
    .thumbnail#discount-bar
      .caption
        .discount-bar-left
          %h2.mb-0 Discount code?
        .discount-bar-center
          .control-group
            %label=discount_code_label(@order)
            .control-group{:class => discount_code_class(@order)}
              =form.text_field :discount_code_code, :class => "span2"
        .discount-bar-right
          =form.submit('Apply', :name => 'discount_code', :class => "btn pull-right")
        .clearfix
