-content_for :head do
  :javascript
    $(document).ready(function() {
      $('#box_step .box-radio').click(function(){
        $(this).children('input').attr('checked','checked');
        $('#box_step label.active').removeClass('active');
        $(this).parent().addClass('active');
        $('form.order').submit();
      });
      $('.vegan-version').click(function(event){
        event.preventDefault();
        var chooseBox = $(this).parents('.choose-box')
        chooseBox.find('.box-radio input').attr('checked', 'checked');
        chooseBox.find('.caption').addClass('active');
        $('#order_option_ids option:contains("vegan")').attr('selected', 'selected');
        $('form.order').submit();
      });
    });
=form.input :gift, :as => :hidden
.row
  .span10
    %p
      Signing up for your Nutribox is easy! Just decide whether you want a Mini-box - great as a gift or if you want to try out our snacks - or a full size Nutribox.
    -unless @order.gift?
      %p.mt-2
        You can sign up on a monthly plan or pay upfront for a 3 or 6 month subscription, and save up to 16%.  With any of these options you can cancel simply by emailing us if you feel The Nutribox isn’t the healthy snacking option for you.
      %p.mt-2
        If you're from a business or organisation with an interest in supplying healthy snacks to a group of staff,
        =link_to 'click here', corporate_box_enquiry_path
        for more information.
    -if @order.discount_code && @order.discount_code.available_to?(current_user)
      .row
        .span10
          .alert.alert-success#discount-applied
            -if @order.discount_code == DiscountCode.default
              =snippet_text(:default_discount_message, "Save 25% off your first box!")
              =edit_snippet_link(:default_discount_message)
            -else
              Your discount code will give you
              ="#{@order.discount_code.percentage_with_default}%"
              OFF your first box!

-["standard", "mini"].each do |box_type|
  .row
    .span10
      %h3.box-title
        =box_name(box_type)
        %small="#{Order.number_of_snacks(box_type)} snacks"
      -Order::COST_MATRIX[box_type.to_sym].each do |months, cost|
        .span4.choose-box.choose-box-small
          .thumbnail
            .caption
              .box-illustration
                =image_tag("box-#{box_type}-#{months}.png", :class => "box-photo")
              %h4
                -if months == 1 && !@order.gift?
                  Monthly
                -else
                  =months
                  month
                -unless @order.gift?
                  subscription
              %label.box-radio
                =form.radio_button('box_type_and_number_of_months',"#{box_type}-#{months}")
                .btn.choose-btn Select
              %h5.choose-price
                ="£#{Order.cost_per_month(box_type, months)}&nbsp;/&nbsp;month".html_safe

              %p.free-delivery Free delivery
              -unless @order.gift?
                .choose-smallprint
                  %ul.unstyled
                  -if months == 1
                    %p
                      Billed monthly.
                      %br
                      Cancel anytime.
                      %br
                      &nbsp;
                  -else
                    %p
                      Pay upfront.
                      %br
                      Renews automatically.
                      %br
                      Cancel anytime.
              %p=link_to 'Choose vegan version', '#', :class => 'vegan-version'

-unless @order.gift?
  .row
    .span10
      %h3.box-title The Nutribox Corporate
      .span10.choose-box.choose-box-corporate
        .thumbnail
          .caption
            %p
              Healthy snacking can make a real difference to your performance at work, positively impacting energy levels, concentration and mood swings (see our
              =link_to_slug 'blog article', :blood_sugar_balance
              ).
            %p.mt-2
              If you're from a business or organisation with an interest in supplying healthy snacks to a group of staff,
              =link_to 'click here', corporate_box_enquiry_path
              for more information.
  .row
    .span10
      .thumbnail#discount-bar
        .caption
          .discount-bar-left
            %h2.mb-0 Discount code?
          .discount-bar-center
            .control-group
              %label=discount_code_label(@order)
              .control-group{:class => discount_code_class(@order)}
                -if @order.discount_code == DiscountCode.default
                  =form.text_field :discount_code_code, :class => "span2", :value => nil
                -else
                  =form.text_field :discount_code_code, :class => "span2"
          .discount-bar-right
            =form.submit('Apply', :name => 'discount_code', :class => "btn pull-right")
          .clearfix
